---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.xchange%20WHERE%20pair%20IN(%5B%22USDAUD%22,%20%22USDBGN%22,%20%22USDBRL%22,%20%22USDCAD%22,%20%22USDCHF%22,%20%22USDCNY%22,%20%22USDCZK%22,%20%22USDDKK%22,%20%22USDGBP%22,%20%22USDHKD%22,%20%22USDHRK%22,%20%22USDHUF%22,%20%22USDIDR%22,%20%22USDILS%22,%20%22USDINR%22,%20%22USDJPY%22,%20%22USDKRW%22,%20%22USDMXN%22,%20%22USDMYR%22,%20%22USDNOK%22,%20%22USDNZD%22,%20%22USDPHP%22,%20%22USDPLN%22,%20%22USDRON%22,%20%22USDRUB%22,%20%22USDSEK%22,%20%22USDSGD%22,%20%22USDTHB%22,%20%22USDTRY%22,%20%22USDUSD%22,%20%22USDZAR%22%5D)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - main-a9c57bfe-b8f8-11e5-89b6-d89d676f9644
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:50 no viable alternative at character ''['',line 1:359 no viable alternative
        at character '']'']"}}'
  recorded_at: Tue, 12 Jan 2016 13:22:31 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.xchange%20WHERE%20pair%20IN(%5B%22%5C%22USDAUD%5C%22%22,%20%22%5C%22USDBGN%5C%22%22,%20%22%5C%22USDBRL%5C%22%22,%20%22%5C%22USDCAD%5C%22%22,%20%22%5C%22USDCHF%5C%22%22,%20%22%5C%22USDCNY%5C%22%22,%20%22%5C%22USDCZK%5C%22%22,%20%22%5C%22USDDKK%5C%22%22,%20%22%5C%22USDGBP%5C%22%22,%20%22%5C%22USDHKD%5C%22%22,%20%22%5C%22USDHRK%5C%[...]
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.xchange%20WHERE%20pair%20IN(%22USDAUD%22,%22USDBGN%22,%22USDBRL%22,%22USDCAD%22,%22USDCHF%22,%22USDCNY%22,%22USDCZK%22,%22USDDKK%22,%22USDGBP%22,%22USDHKD%22,%22USDHRK%22,%22USDHUF%22,%22USDIDR%22,%22USDILS%22,%22USDINR%22,%22USDJPY%22,%22USDKRW%22,%22USDMXN%22,%22USDMYR%22,%22USDNOK%22,%22USDNZD%22,%22USDPHP%22,%22USDPLN%22,%22USDRON%22,%22USDRUB%22,%22USDSEK%22,%22USDSGD%22,%22USDTHB%22,%22USDTRY%22,%22USDUSD%22,%22USDZAR%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - main-5514c559-b8f9-11e5-89b6-d89d676f9644
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":31,"created":"2016-01-12T13:24:32Z","lang":"en-US","results":{"rate":[{"id":"USDAUD","Name":"USD/AUD","Rate":"1.4269","Date":"1/12/2016","Time":"1:24pm","Ask":"1.4273","Bid":"1.4269"},{"id":"USDBGN","Name":"USD/BGN","Rate":"1.8024","Date":"1/12/2016","Time":"1:23pm","Ask":"1.8096","Bid":"1.8024"},{"id":"USDBRL","Name":"USD/BRL","Rate":"4.0287","Date":"1/12/2016","Time":"1:24pm","Ask":"4.0298","Bid":"4.0287"},{"id":"USDCAD","Name":"USD/CAD","Rate":"1.4182","Date":"1/12/2016","Time":"1:24pm","Ask":"1.4182","Bid":"1.4182"},{"id":"USDCHF","Name":"USD/CHF","Rate":"1.0012","Date":"1/12/2016","Time":"1:24pm","Ask":"1.0013","Bid":"1.0012"},{"id":"USDCNY","Name":"USD/CNY","R[...]
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.xchange%20WHERE%20pair%20IN(%22USDAUD%22,%22USDBGN%22,%22USDBRL%22,%22USDCAD%22,%22USDCHF%22,%22USDCNY%22,%22USDCZK%22,%22USDDKK%22,%22USDGBP%22,%22USDHKD%22,%22USDHRK%22,%22USDHUF%22,%22USDIDR%22,%22USDILS%22,%22USDINR%22,%22USDJPY%22,%22USDKRW%22,%22USDMXN%22,%22USDMYR%22,%22USDNOK%22,%22USDNZD%22,%22USDPHP%22,%22USDPLN%22,%22[...]
